.shb-header-bar, .secondary-navigation, #masthead, .header-widget-region,

.woocommerce-breadcrumb, .entry-header, #sidebar, #colophon {
	display: none;
}

nav.secondary-navigation {
	margin: 0 !important;
}

.slide {
	position: relative;
	overflow: hidden;
	margin: 0 calc( -50vw + 50% );
	* {
		color: inherit;
	}
	.col-full {
		padding: 0;
	}
}

#slide1 {
	background: #54a2f7;
	color: rgba(255,255,255,0.88);
	height: 100vh;
	position: relative;
	img, .wilson {
		margin: auto;
		position: absolute;
		bottom: -70px;
		left: 0;
		right: 0;
	}
	.wilson{
		max-width: 594px;
	}
	.wilson-img {
		padding-top: 55.4%;
		background: no-repeat center/contain url(img/wilson.png);
	}
	.wilson-eye {
		position: absolute;
		top: 19.4%;
		left: 40.8%;
		padding-top: 6.6%;
		width: 6.6%;
		border-radius: 50%;
		&.right {
			left: 56.7%;
			top: 18.7%;
		}
		&:after,
		&:before {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			margin: auto;
			width: 23px;
			height: 23px;
			border: 2px solid #544b30;
			background: #afa890;
			border-radius: 50%;
			content: " ";
		}

		&:after {
			top: 5px;
			width: 10px;
			height: 10px;
			background: #544b2f;
		}
	}
	.logo {
		bottom: 34px;
		left: auto;
		right: 50px;
	}
	h1, h3, h5 {
		font-size: 70px;
		font-weight: 100;
		text-align: center;
		margin: 5vh 0 0;
		position: relative;
		z-index: 1;
		text-shadow: 0.01em 0.01em 0.025em #259;
		letter-spacing: 0.025em;
	}
	h3 {
		font-size: 34px;
		font-weight: 400;
	}

	.fa-chevron-down {
		display: block;
		margin: auto;
		width: 70px;
		line-height: 70px;
		font-size: 40px;
		cursor: pointer;
		border: 1px solid;
		text-align: center;
		border-radius: 999px;
		text-shadow: 0.01em 0.01em 0.025em #259;
	}

	.fa-cloud {
		font-size: 160px;
		position: absolute;
		color: #ffffff;
		margin: -80px;
		animation: 34s l2r2l infinite;
	}

	#cloud1 {
		top: 11vh;
		left: 34vw;
	}

	#cloud2 {
		animation-duration: 23s;
		font-size: 250px;
		bottom: 11vh;
		left: 25vw;
	}

	#cloud3 {
		animation-duration: 25s;
		bottom: 43vh;
		left: 5vw;
	}

	#cloud4 {
		animation-duration: 29s;
		font-size: 110px;
		top: 34vh;
		right: 11vw;
	}

	#cloud5 {
		font-size: 340px;
		animation-duration: 38s;
		bottom: 35vh;
		right: 25vw;
	}
}

#slide2 {
	padding-bottom: 2.5em;
	text-align: center;

	h2 {
		margin: 2.5em auto .2em;
	}

	.license-type-toggle {
		margin: 3.4em auto 2em;
		font-size: 20px;
		font-weight: 100;
		label {
			font: inherit;
		}
		input {
			vertical-align: middle;
			margin: 5px 7px 11px 16px;
		}
	}

	.bundle-features {
		flex: 1 0 250px;
		overflow: hidden;
		border: 1px solid #0073aa;
		margin: 4px;
		h3 {
			background: #0073aa;
			color: #fff;
			padding:16px;
			font-weight: 100;
			.fa {
				display: block;
				font-size: 50px;
				margin: 25px auto;
			}
		}

		.price {
			display: block;
			font-size: 43px;
			line-height: 1;
			color: #fff;
			background: #0073aa;
			width: 115px;
			height: 115px;
			margin: auto;
			border-radius: 50%;
			padding-top: 25px;
			&:after {
				content: '/yr';
				font-size: 20px;
				display: block;
				opacity: .7;
			}
		}

		img {
			width: 70%;
		}
		p {
			font-family: raleway, sans-serif;
			font-size: 25px;
			margin: 25px auto;
			color: #000;
		}

		.license-description {
			font-size: 20px;
		}

		span.site-count {
			font-size: 25px;
		}
		.button {
			cursor: pointer;
			background: #0073aa;
			color: #fff;
			display: block;
			margin: 7px;
			opacity: .88;
			-webkit-transform: scale( .99 );
			transform: scale( .99 );
			-webkit-transition: -webkit-transform 250ms;
			transition: transform 250ms;
			&:hover {
				-webkit-transform: scale( 1 );
				transform: scale( 1 );
				opacity: 1;
			}
		}
	}
	.ecomm-bundle {
		border: 1px solid #5d9ebd;
		.price, .button, h3 {
			background: #5d9ebd;
		}
	}
	.design-bundle {
		border: 1px solid #4882ba;
		.price, .button, h3 {
			background: #4882ba;
		}
	}
	.pro-bundle {
		border: 1px solid #ce6c69;
		.price, .button, h3 {
			background: #ce6c69;
		}
	}

	.pricing-tabs {
		margin: 2em -4px;
		display:flex;
		justify-content: stretch;
	}

}

#slide3 {
	text-align: center;
}

@keyframes l2r2l {
	0% {
		transform: translateX(25%);
	}
	50% {
		transform: translateX(-25%);
	}
	100% {
		transform: translateX(25%);
	}
}
